<ul class="social-icons">
    <li class="social-item">
        <a class="facebook-link" href="https://fb.com/marny.lopez">
            <i id="tt1" class="zmdi zmdi-facebook"></i>
            <div class="mdl-tooltip" data-mdl-for="tt1">
                facebook
            </div>
        </a>
    </li>
    <li class="social-item">
        <a class="twitter-link" href="https://twitter.com/i_MrLopez">
            <i id="tt2" class="zmdi zmdi-twitter"></i>
            <div class="mdl-tooltip" data-mdl-for="tt2">
                twitter
            </div>
        </a>
    </li>
    <li class="social-item">
        <a class="linkedin-link" href="https://www.linkedin.com/in/marnylopez/">
            <i id="tt3" class="zmdi zmdi-linkedin"></i>
            <div class="mdl-tooltip" data-mdl-for="tt3">
                linkedin
            </div>
        </a>
    </li>
    <li class="social-item">
        <a class="github-link" href="https://github.com/iMrLopez">
            <i id="tt4" class="zmdi zmdi-github-alt"></i>
            <div class="mdl-tooltip" data-mdl-for="tt4">
                Github
            </div>
        </a>
    </li>
    <li class="social-item">
        <a class="instagram-link" href="https://www.instagram.com/i_mrlopez/">
            <i id="tt5" class="zmdi zmdi-instagram"></i>
            <div class="mdl-tooltip" data-mdl-for="tt5">
                instagram
            </div>
        </a>
    </li>
</ul>
