<div class="untree_co-section"
    id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Contact Me</h2>
                    <h3>The best way to contact me is through my social networks.</h3>
                    <h4>I usually do not respond to emails</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div style="text-align: center;">
                    <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="marnylopez" data-version="v1">
                        <a class="badge-base__link LI-simple-link" href="https://cr.linkedin.com/in/marnylopez?trk=profile-badge">Marny A. Lopez</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="200">
                <h3 class="h5 mb-4">Contact Info</h3>
                <address class="text-black d-flex">
                    <span class="mt-1 icon-room mr-2"></span>
                    <span>San Jose, Costa Rica</span>
                </address>
                <ul class="list-unstyled ul-links mb-4">
                    <li class="mb-3">
                        <a href="mailto:me@marnylopez.com" class="d-flex">
                            <span class="mt-1 icon-envelope mr-2"></span>
                            <span>me@marnylopez.com</span>
                        </a>
                    </li>
                </ul>

                <div class="widget">
                    <h3>Connect</h3>
                    <ul class="list-unstyled social" style="display: flex;">
                        <li>
                            <a href="https://www.instagram.com/iimrlopez/"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/iiMrLopez"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/gaming/iiMrLopez"><span class="icon-facebook"></span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/marnylopez/"><span class="icon-linkedin"></span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC8Cot-X1Rx5IgHocBQ21tOw"><span class="icon-youtube"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>