<!--Contact Sec-->
<section id="contact_sec" class="contact-sec sec-pad-top-sm">
  <h2 class="mb-35">contact</h2>
  <div class="row">
    <div id="form_card_height" class="col-sm-7 mb-30">
      <div class="mdl-card mdl-shadow--2dp" data-ng-controller="ContactController">
        <h4 class="mb-10 font-unsetcase">Hey <span data-ng-bind="formData.inputName||'There'">There</span>, happy to
          hear from you.</h4>
          <h3 class="mb-10 font-unsetcase" style="color: white;">The best way to contact me is through my social media, you can use the widget in the bottom of this page to contact me or any of the following links</h3>
          <div class="row align-items-center" style="text-align: center;">
            <app-social-icons class="social-links"></app-social-icons>
          </div>
          <h3 class="mb-10 font-unsetcase" style="color: white; text-align: center;">Now I also work in UpWork!</h3>
        <p class="block result" data-ng-class="result"></p>
      </div>
    </div>
    <div class="col-sm-5 mb-30">
      <div class="mdl-card mdl-shadow--2dp pa-0">
        <iframe src="https://www.upwork.com/freelancers/~019c5d7529fa02c642" height="465px"></iframe>
      </div>
    </div>
  </div>
</section>
<!--/Contact Sec-->