<div class="untree_co-section"
    id="contact-section">
    <div id="calendar"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Contact Me</h2>
                    <h3>The best way to contact me is through my social networks.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div style="text-align: center;">
                    <h3 class="h5 mb-4">Add me on my social networks</h3>
                    <div
                        class="badge-base LI-profile-badge"
                        data-locale="en_US"
                        data-size="large"
                        data-theme="dark"
                        data-type="HORIZONTAL"
                        data-vanity="marnylopez"
                        data-version="v1">
                    </div>
                    <div class="widget"
                        style="width: fit-content; display: inline-block;">
                        <ul class="list-unstyled social"
                            style="display: flex;">
                            <li>
                                <a href="https://www.instagram.com/iimrlopez/"><span class="icon-instagram"></span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/iiMrLopez"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/gaming/iiMrLopez"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/marnylopez/"><span class="icon-linkedin"></span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC8Cot-X1Rx5IgHocBQ21tOw"><span class="icon-youtube"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="200"
                style="text-align: center;">
                <h3 class="h5 mb-4">Schedule a meeting with me</h3>
                <div class="calendly-inline-widget"
                    data-url="https://calendly.com/imrlopez?hide_landing_page_details=1&hide_gdpr_banner=1"
                    style="height:630px;"></div>
            </div>
        </div>
    </div>
</div>