.social * {
    padding: 10px;
}

::ng-deep .profile-badge--width-330{
    width: 100% !important;
}

#contact-section {
    padding: 65px;
} 

.container {
    backdrop-filter: brightness(0.2);
    padding-top: 25px;
}

.bg {
    background-image: url('../../../assets/img/bg3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-white:before{
    color: white;
}