<section id="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="section-heading text-center col-md-12 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="0">
        <h2>My Portfolio</h2>
      </div>
    </div>
    <div class="filters-content mb-5 aos-init aos-animate"
      data-aos="fade-up"
      data-aos-delay="200">
      <div class="row grid">
        <ng-container *ngFor="let project of projects">
            <a [href]="project.url">
              <ng-container [ngSwitch]="project.media.type">
                <img *ngSwitchCase="'thumbnail'"
                  [src]="project.media.thumbnail"
                  [alt]="project.description">
                <iframe *ngSwitchCase="'embed'"
                  [src]="project.media.embed | safe" ></iframe>
              </ng-container>
            </a>
            <span class="tooltiptext">{{project.name}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</section>