<!--Client Sec-->
<section id="client_sec" class="client-sec sec-pad-top-sm">
  <h2 class="mb-30">People & companies that I have worked with</h2>
  <div class="row">
    <div class="mdl-card">
      <div class="row">
        <div class="col-sm-12 mb-30">
          <div class="client-carousel">
            <ng-container *ngFor="let client of clients">
              <img [src]="client.image" [alt]="client.name + '' + client.description" style="height: 80px;width: auto">
            </ng-container>
            <img src="assets/img/clients/globalnow.jpg" alt="client" style="height: 80px;width: auto">
            <img src="assets/img/clients/tico.png" alt="client" style="height: 80px;width: auto">
            <img src="assets/img/clients/essential.png" alt="client" style="height: 80px;width: auto">
            <img src="assets/img/clients/conatt.png" alt="client" style="height: 80px;width: auto">
            <img src="assets/img/clients/asefiserv.png" alt="client" style="height: 80px;width: auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Client Sec-->