<!--About Sec-->
<section class="about-sec mt-180 mt-sm-120  mb-30">
    <div class="row">
        <div class="col-lg-12">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="row">
                    <div class="col-md-5 col-xs-12 mb-30">
                        <div class="candidate-img mb-35"></div>
                        <app-social-icons></app-social-icons>
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <div class="info-wrap">
                            <h1>marny lopez</h1>
                            <h5 class="mt-20 font-grey">Senior Software Engineer & Passionate Entrepreneur</h5>
                          <!--
                            <div class="mt-30">
                                <a id="download_cv" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white mr-10" href="#">download cv</a>
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-blue font-white" href="#contact_sec" data-scroll>contact</a>
                            </div>
                          -->
                        </div>
                        <ul class="profile-wrap mt-50">
                            <li>
                                <div class="profile-title">age</div>
                                <div class="profile-desc">{{ anio -  1995 }}</div>
                            </li>
                            <li>
                                <div class="profile-title">address</div>
                                <div class="profile-desc">
                                    Colon, San Jose, Costa Rica
                                </div>
                            </li>
                            <li>
                                <div class="profile-title">email</div>
                                <div class="profile-desc">
                                    marny.lopez@myndsit.com
                                </div>
                            </li>
                            <li>
                                <div class="profile-title">phone</div>
                                <div class="profile-desc">
                                    +506 6045 3526
                                </div>
                            </li>
                            <li>
                                <div class="profile-title">freelance</div>
                                <div class="profile-desc relative">Available
                                    <i id="datepickopn" class="zmdi zmdi-calendar-check font-green pl-5"></i>
                                    <!--<div id='datepicker1' class='datepicker'></div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/About Sec-->
