<div class="mdl-layout__header-row .full-width-header mdl-scroll-spy-1">
    <!-- Title -->
    <a href="index.html"><span class="mdl-layout-title">marny lopez</span></a>
    <div class="mdl-layout-spacer"></div>
    <ul class="nav mdl-navigation mdl-layout--large-screen-only">
      <li><a class="mdl-navigation__link" data-scroll href="#body">about</a></li>
      <li><a class="mdl-navigation__link" data-scroll href="#skills_sec">skills</a></li>
      <li><a class="mdl-navigation__link" data-scroll href="#portfolio_sec">portfolio</a></li>
      <li><a class="mdl-navigation__link" data-scroll href="#experience_sec">experience</a></li>
      <li><a class="mdl-navigation__link" data-scroll href="#education_sec">education</a></li>
      <li><span id="blog_drp" class="mdl-navigation__link">blog</span>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
          data-mdl-for="blog_drp">
          <li class="mdl-menu__item"><a href="https://www.youtube.com/channel/UC8Cot-X1Rx5IgHocBQ21tOw">My Youtube Channel</a></li>
          <li class="mdl-menu__item"><a href="https://www.linkedin.com/in/marnylopez/detail/recent-activity/posts/">My blog posts</a></li>
        </ul>
      </li>
      <li><a class="mdl-navigation__link" data-scroll href="#references_sec">references</a></li>
      <li><a class="mdl-navigation__link" data-scroll href="#contact_sec">contact</a></li>
    </ul>
    <!-- Right aligned menu below button -->
    <button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon ver-more-btn">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      data-mdl-for="demo-menu-lower-right">
      <li class="mdl-menu__item"><a href="https://linkedin.com/in/marnylopez"><i class="zmdi zmdi-download font-red pr-10"></i>Download CV</a></li>
      <li class="mdl-menu__item"><a href="mailto:marny.lopez@myndsit.com"><i class="zmdi zmdi-email-open font-green pr-10"></i>Contact Me</a></li>
      <li class="mdl-menu__item"><a href="callto:50660453526"><i class="zmdi zmdi-phone  font-blue  pr-10"></i>+506 6045 3526</a></li>
    </ul>
  </div>
