						<!--Price Sec-->
						<section id="price_sec" class="price-sec sec-pad-top-sm">
                <h2 class="mb-30">pricing</h2>
                <div class="row">
                  <!-- item -->
                  <div class="col-sm-4 text-center mb-30">
                    <div class="mdl-card mdl-shadow--2dp pa-0">
                      <div class="mdl-card__title pa-0">
                        <h5 class="block pt-25 pb-20">basic</h5>
                        <div class="price-bg">
                          <span class="panel-price block font-blue"><span class="pricing-dolor">$</span>49</span>
                          <span class="pricing-plan block pt-10">per month</span>
                        </div>
                      </div>
                      <div class="mdl-card__supporting-text text-center pa-0">
                        <ul class="list-group mb-0 text-center">
                          <li class="list-group-item">1 website</li>
                          <li class="list-group-item">30 GB Storage</li>
                          <li class="list-group-item">Unlimited bandwidth</li>
                          <li class="list-group-item">Free email included</li>
                        </ul>
                      </div>
                      <div class="mdl-card__actions pt-30 pb-30">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white" href="#">buy now</a>
                      </div>
                    </div>
                  </div>
                  <!-- /item -->
                  <!-- item -->
                  <div class="col-sm-4 text-center mb-30">
                    <div class="mdl-card mdl-shadow--2dp pa-0">
                      <div class="mdl-card__title pa-0">
                        <h5 class="block pt-25 pb-20">standard</h5>
                        <div class="price-bg">
                          <span class="panel-price block font-blue"><span class="pricing-dolor">$</span>99</span>
                          <span class="pricing-plan block pt-10">per month</span>
                        </div>
                      </div>
                      <div class="mdl-card__supporting-text text-center pa-0">
                        <ul class="list-group mb-0 text-center">
                          <li class="list-group-item">1 website</li>
                          <li class="list-group-item">100 GB storage</li>
                          <li class="list-group-item">Unlimited bandwidth</li>
                          <li class="list-group-item">Free domain & email</li>
                        </ul>
                      </div>
                      <div class="mdl-card__actions pt-30 pb-30">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white" href="#">buy now</a>
                      </div>
                    </div>
                  </div>
                  <!-- /item -->
                  <!-- item -->
                  <div class="col-sm-4 text-center mb-30">
                    <div class="mdl-card mdl-shadow--2dp pa-0">
                      <div class="mdl-card__title pa-0">
                        <h5 class="block pt-25 pb-20">business</h5>
                        <div class="price-bg">
                          <span class="panel-price block font-blue"><span class="pricing-dolor">$</span>199</span>
                          <span class="pricing-plan block pt-10">per month</span>
                        </div>
                      </div>
                      <div class="mdl-card__supporting-text text-center pa-0">
                        <ul class="list-group mb-0 text-center">
                          <li class="list-group-item">Unlimited websites</li>
                          <li class="list-group-item">Unlimited storage</li>
                          <li class="list-group-item">Unlimited bandwidth</li>
                          <li class="list-group-item">Free domain & email</li>
                        </ul>
                      </div>
                      <div class="mdl-card__actions pt-30 pb-30">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white" href="#">buy now</a>
                      </div>
                    </div>
                  </div>
                  <!-- /item -->
                </div>
              </section>
              <!--/Price Sec-->
