<!--Profile Sec-->
<section id="profile_sec" class="profile-sec sec-pad-top-sm">
  <h2 class="mb-30">what i do</h2>
  <div class="row">
     <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp">
           <i class="zmdi zmdi-code font-blue profile-icon"></i>
           <h4 class="mb-15">Software Development</h4>
           <div>
              I create software for web, mobile and backend services, following the latest standards in the market in order to produce a good quality end product.
           </div>
        </div>
     </div>
     <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp">
           <i class="zmdi zmdi-face font-green profile-icon"></i>
           <h4 class="mb-15">People Management</h4>
           <div>
              I manage to make myself a lead in most of the teams I work with, always thriving to help the organization reach the goal defined by management
           </div>
        </div>
     </div>
     <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp">
           <i class="zmdi zmdi-comments font-yellow profile-icon"></i>
           <h4 class="mb-15">Networking</h4>
           <div>
              In my years of freelancing I have come accross many requirements from diferent clients, this has made my network of connections grow exponentially, if I cannot do your project I can surely find someone who can help you
           </div>
        </div>
     </div>
     <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp">
           <i class="zmdi zmdi-grain font-red profile-icon"></i>
           <h4 class="mb-15">IT Strategy</h4>
           <p>Do you have an idea for a project but no idea how to start with it? I can surely guide you with my consultant services in the jungle that we call IT!</p>
        </div>
     </div>
  </div>
</section>
<!--/Profile Sec-->
