<div class="site-section bg-light"
    id="testimonials-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Some of my happy clients</h2>
                    <h3>Said...</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="100">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="https://media-exp1.licdn.com/dms/image/C5603AQG-cZcQvQa2NQ/profile-displayphoto-shrink_100_100/0/1568128721200?e=1641427200&v=beta&t=YYCP0eEY9aJP07eMu2kpbBIU20g4aV2hIhP69ADMRx8"
                            alt="Image placeholder"
                            class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>“Marny impressed me immediately with his level of knowledge and adaptability as our project progressed. If you need help with web development, he'll get you taken care of.”</p>
                        <cite class="block-47-quote-author">— Jordan Mardis, CEO <a href="#">EkoCrate Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="200">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFkHIr00e6h5Q/profile-displayphoto-shrink_100_100/0/1516210280503?e=1641427200&v=beta&t=VAaCEfUY1InsuH6Qq8yQQueGw0QlGeRfrAMflc-YbFM"
                            alt="Image placeholder"
                            class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>“Marny is a conscientious, thorough and expert Full Stack Developer. He is adept at assessing issues and requirements, solving problems and coding solutions in an efficient and high quality fashion. But, most of what I enjoyed about Marny is his positive/can-do attitude, and his willingness to be a team player. I hope to continue to work with Marny in the future, and I am proud to work with Marny as part of our extended team. Thank you Marny.”</p>
                        <cite class="block-47-quote-author">— Bob Foster, CEO <a href="#">GlobalNow Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="100">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFEYcnpDgYhLA/profile-displayphoto-shrink_100_100/0/1549031366152?e=1641427200&v=beta&t=x12HHhHJLRnaV-baspxEqhx8eT6cDdNjcsx6kOTku20"
                            alt="Image placeholder"
                            class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>“Marni worked for me on a project where we were modernizing a legacy application. As this was one of the core applications our client used it had complex business rules and a spaghetti code base. Marni was able to pick up the knowledge of the business and application within 2 weeks and was able to make sound architectural recommendations to help prolong the life of the application. The client manager and team were very appreciate of Marni’s capabilities and recommendation. In addition to his technical strengths, Marni has excellent communication skills and is always proactively discussing issues and bringing solutions to mitigate them to leadership. I definitely recommend Marni as he is a valuable asset to any organization.”</p>
                        <cite class="block-47-quote-author">— Rama Vangipuram, Managing Director <a href="#">Altruas Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="200">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHQBfO5JZoROg/profile-displayphoto-shrink_100_100/0/1560966028310?e=1641427200&v=beta&t=DNffBA48kNoBeTpImoYKAX-Z5ts3XGdbGa5MzD-o7YA"
                            alt="Image placeholder"
                            class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>“Marny is not only a pleasure to work with, but his technical capabilities and work ethic are stellar. I also appreciate that when something unforeseen comes up, Marny is quick to research and come up with a solution (or options) versus waiting for direction. Working with him via a near-shore model, Marny communicates very frequently making it seem less like he is just down the road working remotely!”</p>
                        <cite class="block-47-quote-author">— Parimal Patel, CEO <a href="#">Altruas Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="display: flex; margin: 10px;">
                <ng-container *ngFor="let client of clients">
                    <img [src]="client.image" style="width: 349px; height: 233px; object-fit: scale-down;" [alt]="client.name" class="img-fluid">
                </ng-container>
            </div>
        </div>
    </div>
</div>