<!--Experience Sec-->
<section id="experience_sec" class="experience-sec sec-pad-top-sm">
  <h2 class="mb-30">experience</h2>
  <div class="timeline-wrap  overflow-hide mb-30">
      <ul class="timeline">

          <li>
              <div class="timeline-badge">
                  <i class="zmdi zmdi-case font-blue"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Founder</h4>
                      <span class="duration mb-5">Jan 2014 - present</span>
                      <span class="institution">MyndsIT</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Alajuela, Costa Rica</p>
                  </div>
              </div>
          </li>

          <li class="timeline-inverted">
              <div class="timeline-badge">
                  <i class="zmdi zmdi-format-color-text font-green"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Senior Software Development Engineer</h4>
                      <span class="duration mb-5">Jan 2019 - Present</span>
                      <span class="institution">Isthmus Software</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Heredia, Costa Rica</p>
                  </div>
              </div>
          </li>

          <li>
              <div class="timeline-badge">
                  <i class="zmdi zmdi-city-alt font-yellow"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Senior Softwar Enginer Consultant</h4>
                      <span class="duration mb-5">Jan 2019 – Jun 2019</span>
                      <span class="institution">Stratecha</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Dallas, Texas</p>
                  </div>
              </div>
          </li>

          <li class="timeline-inverted">
              <div class="timeline-badge">
                  <i class="zmdi zmdi-format-color-text font-green"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Senior Software Development Consultant</h4>
                      <span class="duration mb-5">Jan 2019 - Jun 2019</span>
                      <span class="institution">GlobalNow.Inc</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Dallas, Texas</p>
                  </div>
              </div>
          </li>

          <li>
              <div class="timeline-badge">
                  <i class="zmdi zmdi-city-alt font-yellow"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Software Engineer Team Lead</h4>
                      <span class="duration mb-5">May 2017 - Sep 2018</span>
                      <span class="institution">DXC.Technology</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Heredia, Costa Rica</p>
                  </div>
              </div>
          </li>

          <li class="timeline-inverted">
              <div class="timeline-badge">
                  <i class="zmdi zmdi-format-color-text font-green"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Software Development Engineer</h4>
                      <span class="duration mb-5">Oct 2014 - Mar 2015</span>
                      <span class="institution">Fiserv Inc</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Heredia, Costa Rica - Orlando, Florida</p>
                  </div>
              </div>
          </li>

          <li>
              <div class="timeline-badge">
                  <i class="zmdi zmdi-city-alt font-yellow"></i>
              </div>
              <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
                  <div class="timeline-heading">
                      <h4 class="mb-10">Senior Technical Support - Consultant</h4>
                      <span class="duration mb-5">Oct 2014 - Mar 2015</span>
                      <span class="institution">Tico Electronics</span>
                  </div>
                  <div class="timeline-body">
                      <p class="mt-25">Coyol, Costa Rica</p>
                  </div>
              </div>
          </li>

          <li class="clearfix no-float"></li>
      </ul>
  </div>
</section>
<!--/Experience Sec-->
