<div class="site-section"
    id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>My blog posts</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <ul class="list-unstyled blog-entries">
                    <li data-aos="fade-up"
                        data-aos-delay="100"
                        class="aos-init aos-animate"
                        *ngFor="let post of posts">
                        <a [href]="post.url" class="d-block d-md-flex justify-content-between align-items-center">
                            <div>
                                <span class="d-block date">{{post.date}}</span>
                                <h3>{{post.title}}</h3>
                            </div>
                            <span class="read">{{post.read}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>